@import './variable';
@import './functions';
$secondColor: rgb(76, 112, 230);

@mixin flexColCenter() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
html {
    height: 100%;
    @include flexColCenter();
    background: $mainColor
}
.box {
    @include flexColCenter();
    max-height: 100%;
    background: cornflowerblue;
    width: 100%;

}