@import './variable';
@import './functions';


html {
    height: 100%;
    @include flexColCenter();
    background: $mainColor
};
body {
    background-color: $mainColor;
};

.box {
    @include flexColCenter();
    background: rgb(43, 83, 156);
    width: 500px;
    height: 500px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px 5px $shadowColor;
    

};
.pw-heading {
    height: 50px;

    #password-input {
        width: 400px;
        height: 100%;
        background: $mainColor;
        color: blanchedalmond;
    };
    span {
        height: 100%;
        width: 100%;
        cursor: pointer;

    };

};

.pw-body {
    @include flexColCenter();
    width: 50%;
    font-size: 1.5rem;
    height: 400px;

    .input-part {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: space-between;
        width: 100%
    }

    input  {
        width: 25px;
        height: 25px
    }
}

button {
    background: $thirdColor;

}
