html {
  background: #c0b1b1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {
  color: cadetblue;
  opacity: 0.5;
  background: #c0b1b1;
}
input {
  width: 100%;
  text-align: center;
}

input::placeholder {
  color: crimson;
  opacity: 0.5;
}
li {
  cursor: pointer;
  list-style: square;
}
.cross {
  text-decoration: line-through;
}
