header {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
}
body {
  background: orangered;
  height: auto;
}
.fav-foods {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
#fav-meal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.fav-meal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 80px;
}
.cross {
  position: absolute;
  right: 0;
  opacity: 0;
  cursor: pointer;
}

.fav-meal:hover .cross {
  opacity: 1;
}

.fav-meal span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 80px;
}

.fav-meal span:hover {
  overflow: visible;
}

.fav-meal img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.random-food {
  position: relative;
  width: 100%;
  height: 90vh;

  background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 5%;
}
.random-food img {
  width: 50%;
}

.like {
  color: purple;
}
.pointer {
  cursor: pointer;
}
#cooking-method {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  overflow-y: scroll;
}

.cooking-info {
  position: relative;
  top: 2%;
  left: 10%;
  width: 80%;
  margin: 2% 2% 2% 2%;

  background: rgb(255, 246, 246);
  padding: 2% 5%;
  font-size: 0.5;
}
.cooking-info-img {
  width: 20%;
  height: 10%;
  text-align: center;
}
#close-food-info {
  background: #a40606;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  margin-right: 1%;
  cursor: pointer;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
