body {
  background: sandybrown;
}
.main {
  width: 50%;
  margin-bottom: 15%;
}
.tools {
  width: 100%;
  background: seagreen;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.text-area {
  width: 100%;
  background: cadetblue;
  height: 100px;
  margin-bottom: 5%;
  margin-top: 0;
}
textarea {
  width: 100%;
  background: cornsilk;
  height: 100px;
}

#add {
  position: absolute;
  right: 5px;
  background: seagreen;
  cursor: pointer;
}
.hidden {
  display: none;
}
button {
  cursor: pointer;
}
